.Rproj.user
.Rhistory
.RData
.Ruserdata
dataviz-key_f25.qmd
dataviz-key_f24.qmd
dataviz-key_s25.qmd
dataviz-key_s26.qmd
dataviz_MarneyPratt.qmd
dataviz_MarneyPratt.pdf
dataviz-example.qmd
dataviz-example2.qmd
dataviz-example.pdf
figures/

